<body>
    <br>
    <button class="Home">HOME</button>
<p class="heading">HOSPITALS IN MADURAI</p>
     
    <br><br>

    <div class="container inst">
        <h1>VELAMMAL HOSPITALS</h1><br>
        <ul>
          <h3>Velammal Village, Madurai - Tuticorin, ring Road, </h3>
          <h3> Anuppanadi, Tamil Nadu 625009 </h3>
          <button>VIEW DETAILS</button>
         
        </ul>
        <a class="numbersss" href="tel:  0452 711 3333" >CONTACT</a>
        <img [src]=pic2 class="imagesss">
    </div>
  
    <br><br>
<div class="container inst">

      <h1>APOLLO HOSPITALS</h1>
      
  <ul>    
        <h3>Apollo Speciality Hospitals, Madurai Lake View Road,  </h3>
        <h3> K.K. Nagar, Madurai – 625 020 </h3>
        <button>VIEW DETAILS</button>
  </ul> 
  <a class="numberss" href="tel:0452 258 0893" >CONTACT</a>
      
  <img [src]=pic3 class="imagess">
    </div>
  <br><br>
    <div class="container inst">
        <h1>VADAMALAYAN HOSPITALS</h1>
              <ul>
          <h3>Chockikulam, 15/1, Vallabh Bhai Rd, Madurai,  </h3>
          <h3>Tamil Nadu 625002  </h3>
       <button>VIEW DETAILS</button>
    </ul>  
    <a class="numbers" href="tel: 0452 254 5400" >CONTACT</a>
       <img [src]=pic4 class="imagess">
      </div>
      <br><br>
      <div class="container inst">
        <h1>RAJAJI HOSPITALS</h1>
        <ul>
          <h3>Panagal Road, Goripalayam, Madurai - 625002, </h3>
          <h3>  Pari Nagar </h3>
          <button>VIEW DETAILS</button>
         </ul>
         <a class="numbers" href="tel:04522533230" >CONTACT</a>
        
        <img [src]=pic5 class="imagess">
      </div>
    <br><br>
      <div class="container inst">
        <h1>PREETHI HOSPITALS</h1>
        <ul>
          <h3> No 50, Melur Main Road, Uthangudi, Madurai - 625107,</h3>
          <h3> Near Petrol Bunk </h3>
          <button>VIEW DETAILS</button>     
        </ul>
        <a class="numbers" href="tel: 04522533230" >CONTACT</a>
        <img [src]=pic6 class="imagess">
      </div>
      <br><br>
      <div class="container inst">
        <h1>ARISTO HOSPITALS</h1>
        <ul>
          <h3>50B, Bypass Rd, Opp. Aparna Tower, Ponmeni, Madurai, </h3>
          <h3>  Tamil Nadu 625010</h3>
         <button>VIEW DETAILS</button>
        </ul>
        <a class="numbers" href="tel: 0452 420 0788" >CONTACT</a>
        <img [src]=pic7 class="imagess">
      </div>
    <br><br>
    <div class="container inst">
      <h1>MEENAKSHI MISSION HOSPITAL</h1>
      <ul>
        <h3> Lake Area, Melur Main Rd, Madurai,625107  </h3>
        <h3> Tamil Nadu 625107</h3>
        <button>VIEW DETAILS</button>
      </ul>
      <a class="numbers" href="tel: 0452 426 3000" >CONTACT</a>
      <img [src]=pic8 class="imagess">
    </div>
    <br>
    <br>
    <div class="container inst">
      <h1>GV HOSPITAL</h1>
      <ul>
        <h3> No.1, Suresh St, Nataraja Nagar, Madurai, </h3>
        <h3> Tamil Nadu 625016</h3>
        <button>VIEW DETAILS</button>
      </ul>
      <a class="numbers" href="tel:099444 20062" >CONTACT</a>
      <img [src]=pic9 class="imagess">
    </div>
    <br><br>
    <div class="container inst">
      <h1>QUALITY CARE HOSPITALS</h1>
      <ul>
        <h3> 32, Sarvodaya Main Rd, Ellis Nagar, Madurai,
          </h3>
        <h3>  Tamil Nadu 625016</h3>
        <button>VIEW DETAILS</button>
      </ul>
      <a class="numbers" href="tel: 0452 260 0828" >CONTACT</a>
      <img [src]=pic10 class="imagess">
    </div>
    <br><br>
    <div class="container inst">
      <h1>Saravana Multispeciality</h1>
      <ul>
        <h3>7-A Maruthupandiar Nagar, 4th Main Road, Narimedu, </h3>
        <h3>  Madurai 625002</h3>
        <button>VIEW DETAILS</button>
         </ul>
      <a class="numbers" href="tel:+91 181 5080752" >CONTACT</a>
      <img [src]=pic11 class="imagess">
    </div>
    <br><br>
    <div class="container inst">
      <h1>Bharathi Hospital</h1>
      <ul>
        <h3>Bharathi Hospital NO: 115, Alagar Kovil Main Rd, K.Pudur, </h3>
        <h3>Madurai 625007</h3>
        <button>+91181 500 2000</button>
      </ul>
      <a class="numbers" href="tel:" >CONTACT</a>
      <img [src]=pic12 class="imagess">
    </div>
  <br><br><br><br><br><br><br>
