<body>
<div class="container">
		<h1>Login</h1>
		<form method="post">
			<div class="main">
				<input type="text" name="" required>
				<span></span>
				<label>Username</label>
			</div>
                                               <div class="main">
				<input type="password" name="" required>
				<span></span>
				<label>Password</label>
			</div>
                                    <div class="pass"></div>
			<input type="submit" value="Login">
                                      <div class="signup">
			 Dont have an account? <a href="#" class="pinkk">SIGN UP</a>
			</div>
		</form>
	</div>
